<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alsash.reciper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.ReciperApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <!--Glide Framework-->
        <meta-data
            android:name="com.alsash.reciper.di.module.AppGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".ui.activity.StartActivity"
            android:configChanges="orientation|keyboardHidden"
            android:noHistory="true"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="alsash.github.io"
                    android:pathPrefix="/reciper"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.RecipeCollectionsActivity" />
        <activity android:name=".ui.activity.RecipeListActivity" />
        <activity android:name=".ui.activity.RecipeDetailActivity" />
    </application>

</manifest>